@model String
@{
    ViewBag.Title = "Address Autocomplete";
}
<form asp-action="GetAddressInformationResult" method="post">
    <div class="form-group">
        <label>Choose an Address</label>
        <input type="text" name="selectedAddress" id="selectedAddress" />
    </div>

    <div class="form-group">
        <input type="submit" value="Get Address Information" />
    </div>
</form>

@if (!String.IsNullOrEmpty(Model))
{
    <label>@Model</label>
}

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/AddressAutocomplete.js" asp-append-version="true"></script>
}